div {
    display: flex;
    gap: 20px;
    }
    
    
    ul {
    background: #eeeeeedd;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 25px 30px;
    list-style: none;
    box-shadow: 0px 8px 20px rgba(0,0,0,0.1);
    width: 280px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    }

    li {
        cursor: pointer;
    }